

.info {
    color:blueviolet;
    text-align:center;
    font-size: x-large;
}


.whatIDrive {
    background-color: aquamarine;
    color:blueviolet;
    text-align:center;
    font-size: larger;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}